@import "tailwindcss";

    :root{
        --bg-primary : #fdfdfd;
        --text-primary : #000000;
    }
    *{
        font-family: 'Poppins', sans-serif;
    }
    *::selection{
        background-color: #000000;
        color: #fdfdfd;
    }

    
nav{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.097);
}
.item-num{
    position: absolute;
    top: 0;
    left: 60%;
}
.logo{
    font-family: "Poppins", sans-serif;
}
.logo-b{
    color: transparent;
    -webkit-text-stroke: 1px #000000;
}
.main-txt{
    line-height: 7rem;
}
.line{
    border: 1.5px solid #00000015;
    border-radius: 2rem;
    height: 1.8rem;
}
.card-img{
    cursor: pointer;
}
.card-img img{
    transition: 0.4s ease-in-out;
}
.card-img:hover img{
    transform: scale(1.1);
}
.cart-box{
    border: 1px solid #21212141;
    box-shadow: 0 0 1px #21212141;
}
.card-box{
    box-shadow: 0 0 4px #21212141;
}

.box::-webkit-scrollbar{
    width: 0;
}